<ul class="nav nav-pills justify-content-end">
    <li class="nav-item p-2">View Projects By Year</li>
    <li class="nav-item">
      <a class="nav-link active btn-secondary" aria-current="page" href="#">2022</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" tabindex="-1" aria-disabled="true btn-secondary" aria-current="page" href="#">2023</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" tabindex="-1" aria-disabled="true btn-secondary" aria-current="page" href="#">2024</a>
    </li>
  </ul>
  