{% assign url_2022 = site.baseurl | append: '/projects-2022' %}
{% assign url_2023 = site.baseurl | append: '/projects-2023' %}
{% assign url_2025 = site.baseurl | append: '/projects-2025' %}

<ul class="nav nav-pills justify-content-end">
    <li class="nav-item p-2">View Projects By Year</li>
    <li class="nav-item">
      <a class="nav-link btn-secondary {% if page.url == '/projects-2022' %} active {% endif %}" tabindex="-1" aria-disabled="true" href="{{ url_2022 }}">2022</a>
    </li>
    <li class="nav-item">
      <a class="nav-link btn-secondary  {% if page.url == '/projects-2023' %} active {% endif %}" tabindex="-1" aria-disabled="true" href="{{ url_2023 }}">2023</a>
    </li>
    <li class="nav-item">
      <a class="nav-link btn-secondary {% if page.url == '/' %} active {% elsif page.url == '/projects-2025' %} active {% endif %}"  href="{{ url_2025 }}">2025</a>
    </li>
    <li class="nav-item">
      <a class="nav-link btn-secondary disabled {% if page.url == '/projects-2026' %} active {% endif %}" tabindex="-1" aria-disabled="true" href="{{ url_2025 }}">2026</a>
    </li>
  </ul>
  
