---
---

.btn-secondary {
    color:rgb(68, 68, 68);
    background-color: #bbbbbb;
    margin-right: 8px;;
}

.btn-secondary:hover {
    color:white;
    background-color: #545b62;
}

.btn-secondary.disabled {
    color:#545b62;
    background-color: #bbbbbb;
}

@import "portfolYOU";
