<!-- Course Contributors -->
<h2>Course Contributors</h2>
<div class="row row-cols-4">
    {% for ack in site.acknowledgements %}

        {%- if ack.role != "Guest Speaker" -%}

            {%- assign ack_name = ack.name -%}
            {%- assign ack_role = ack.role -%}
            {%- assign ack_url = ack.external_url -%}
            {%- assign external    = true -%}
            {%- assign ack_portrait = ack.portrait -%}
            {%- assign ack_desc = ack.description -%}

            {% include acknowledgements/acknowledgement-card.html %}

        {%- endif -%}

    {% endfor %}
</div>

<!-- Special Thanks to Our Guests-->
<h2>Special Thanks to Our Guests</h2>
<div class="row row-cols-4">
    {% for ack in site.acknowledgements %}

        {%- if ack.role == "Guest Speaker" -%}

            {%- assign ack_name = ack.name -%}
            {%- assign ack_role = ack.role -%}
            {%- assign ack_url = ack.external_url -%}
            {%- assign external    = true -%}
            {%- assign ack_portrait = ack.portrait -%}
            {%- assign ack_desc = ack.desc -%}

            {% include acknowledgements/acknowledgement-card.html %}

        {%- endif -%}
        
    {% endfor %}
</div>